$navWidth: 220px;

#nav {
	position: fixed;
	width: $navWidth;
	height: 100vh;
}

#main {
	position: absolute;
	width: calc(100% - #{$navWidth});
	margin-left: $navWidth;

	#home {
		h1 {
			
		}
	}
}