@mixin transition ($t_name, $dur, $t_type) {
	-webkit-transition: $t_name $dur $t_type;
	-moz-transition: $t_name $dur $t_type;
	-ms-transition: $t_name $dur $t_type;
	-o-transition: $t_name $dur $t_type;
	transition: $t_name $dur $t_type;
}

$transitionSpeedMinor: .2s;
$transitionSpeedMajor: 1s;

// Color theme options: ['light' (default), 'dark']
$theme: "light";

// Light Theme
$colorAccentActive: #000000;
$colorAccent: #3498db;
$colorBackground: #f7f8f9;
$colorBackground2: #eceff1;
$colorBackground3: #e5e8eb;
$colorText: #73838c;
$colorHeading: #232a2f;

@if $theme == "dark" {
	// Dark Theme
	$colorAccentActive: #ffffff;
	$colorAccent: #e74c3c;
	$colorBackground: #282b30;
	$colorBackground2: #1e2226;
	$colorBackground3: #1a1e22;
	$colorText: #85939b;
	$colorHeading: #d0d7dc;
}
.slideshow {
	position: relative;
	background: $colorBackground3;
	padding: 1rem 0;

	.slide {
		position: absolute;
		margin: 0 1.618rem;
		//width: 100%; // Required for max-width to work correctly in IE
		text-align: center;
		pointer-events: none;
		opacity: 0;
		@include transition(opacity, $transitionSpeedMajor, ease-in-out);

		h2 {
			margin-top: 0.618rem;
			font-size: 2rem;
		}

		img {
			// TODO: force aspect-ratio
			max-height: 500px;
			max-width: 100%;
		}

		&.active {
			pointer-events: auto;
			opacity: 1;
		}
	}

	.slidenav {
		list-style: none;
		text-align: center;
		padding: 0;
		margin-bottom: 0;

		li {
			display: inline-block;
			width: 1rem;
			height: 1rem;
			margin: 0 0.618rem;
			border-radius: 50%;
			background: $colorText;
			@include transition(background, $transitionSpeedMinor, ease-in-out);

			&.active {
				background: $colorHeading;
				pointer-events: none;
			}

			&:hover {
				background: $colorAccentActive;
				cursor: hand;
				cursor: pointer;
			}
		}
	}
}


// No JavaScript fallback
.no-js {
	.slide {
		position: static;
		pointer-events: auto;
		opacity: 1;
		text-align: left;
	}
}