!!! 5
%html(lang="en")
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%meta(http-equiv="content-type" content="text/html; charset=utf-8")
		%meta(name="description" content="Eddie Wang's Portfolio Website")
		%meta(name="keywords" content="Eddie Wang")
		%title Eddie Wang
		%link(rel="stylesheet" type="text/css" href="css/global.css" class="global")
		%link(rel="stylesheet" type="text/css" href="css/pc.css" class="screenSpecific" id="pc")
		%link(rel="stylesheet" type="text/css" href="css/mobile.css" class="screenSpecific" id="mobile" disabled)
		-# Implement conditional use of unconcatenated scripts?
		%script(src="js/head.js" type="text/javascript")
	%body
		%nav(id="nav")
			%header
				-# Add a photo here?
				%h1 Eddie Wang
				%p eddiew@stanford.edu
			%ul
				%li <a href="#home">Home</a>
				%li <a href="#about">About</a>
				%li <a href="#portfolio">Portfolio</a>
				%li <a href="#contact">Contact</a>
		%main(id="main")
			%section(id="home")
				-# Add a bunch of fade-ins or some other cool shit
				%div(id="msgbox")
					%h1 HELLO.
					-# TODO: replace this with something more interesting
					%h2 Scroll down to check me out.
				-# Show an arrow or something. Parallax scroll/shrink this section?
			-# Maybe include blog posts?
			%section(id="about")
				-# TODO: finish. Add some sort of graphic?
				%h1 About Me
				%h2 I build useful things.
				-# finish
				%p Desktop, mobile, web, or embedded&mdash;you name it, I'll do it. I love
				%h2 Learning is my job.
				-# finish this, too
				%p And I'm pretty good at it. Even if I don't have the experience you're looking for, you can count on my ability to 
				%h2 <a href="http://googledrive.com/host/0B84uyZR8WHkjMzhXSzVfbWxENjg/Resume Eddie Wang.pdf">My resume</a>
				%p I study computer science at Stanford University, and I interned last summer at Intel. I'm well-versed in Java, Javascript, and C, but I'm also comfortable working in C#, C++, and Ruby.
			%section(id="portfolio")
				-# TODO
				%h1 Things I've Built
			%section(id="contact")
				-# TODO
				%h1 Get In Touch
				%h2 Email:
				%p eddiew@stanford.edu
				-# %h2 LinkedIn: 
		-# Scripts
		%script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript")
		%script(src="js/body.js" type="text/javascript")