!!! 5
%html(lang="en" class="no-js")
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%meta(http-equiv="content-type" content="text/html; charset=utf-8")
		%meta(name="description" content="Eddie Wang's Portfolio Website")
		%meta(name="keywords" content="Eddie Wang")
		%title Eddie Wang
		%link(rel="shortcut icon" href="pic/favicon.ico")
		%link(rel="stylesheet" type="text/css" href="css/style.css")
		-# Detect whether JavaScript is enabled
		%script(type="text/javascript") document.documentElement.className="";
	%body
		%nav(id="nav")
			%header
				-# Add a photo here?
				%h1 Eddie Wang
				%p eddiew@stanford.edu
			%ul
				%li <a href="#home">Home</a>
				%li <a href="#about">About</a>
				%li <a href="#portfolio">Portfolio</a>
				%li <a href="#contact">Contact</a>
		%main(id="main")
			-# AJAX for panels?
			%section(id="home")
				-# Add a bunch of fade-ins or some other cool shit
				%div(id="hello")
					%h1 HELLO.
					%h2 Welcome to my website.
				%div(id="hint")
					%p Scroll down to check me out.
					%a(id="go" href="#about" class="icon-downArrow")
				-# Parallax scroll/shrink this section
			-# Maybe include blog posts?
			%section(id="about")
				-# TODO: finish. Add some sort of graphic?
				%h1 About Me
				%h2 I build useful things.
				-# finish
				%p Desktop, mobile, web, or embedded&mdash;you name it, I can do it. 
				%h2 Learning is my job.
				-# finish
				%p And I'm pretty good at it, too. Even if I don't have the experience you're looking for, you can count on my ability to familiarize myself with your project and workflow in record time.
				%h2 <a href="res/Resume Eddie Wang.pdf" target="_blank">My resume</a>
				%p I study computer science at Stanford University, and I interned the past two summers at Intel's Data Center Solutions Group. I'm well-versed in Java, Javascript, and C, and I'm also comfortable working in C#, C++, Haskell, and Ruby.
			%section(id="portfolio")
				-# TODO
				%h1 Things I've Built
				%div(class="slideshow")
					/ %div(class="slide")
					/ 	%h2 ComBoy
					/ 	%img(src="pic/comboy.png")
					/ 	%p An invaluable training tool for extreme martial artists, ComBoy intelligently generates valid move sequences based on the user's desired length and difficulty. Comprehensive settings and tweaks allow users to tailor the generated combinations to their own style or emphasize certain moves and transitions, thereby optimizing their training time. Combos are serialized as JSON, so users can import, edit, and share their favorites.
					/ 	%p ComBoy is compatible with Android 1.6+, and the source and .apk are available from <a href="https://github.com/eddiew/ComBoy">my github</a>.
					/ %div(class="slide")
					/ 	%h2 Rational Team Concert Query App
					/ 	%img(src="pic/RTCQueryApp.png")
					/ 	%p A fellow intern and I wrote this app for our manager at Intel, who wanted a one-click portal to all the important project information. The app's front-end is an excel spreadsheet with some Visual Basic scripting that handles user input and parses the query results into nice looking charts. Its back-end is a java app that runs the specified query and creates a .csv file with the results.
					/ -# TODO: hint
					%div(class="slide")
						%h2 Helix HSL
						%canvas(id="helixDemo")
						%input(type="radio" name="type" value="helix" onclick="redraw();" checked) Helix
						%input(type="radio" name="type" value="const" onclick="redraw();") Constant
						%input(type="radio" name="type" value="standard" onclick="redraw();") Standard
						%script(src="js/helixHSL.js" type="text/javascript" defer)
						%p The RGB color model is great for communicating to computers, but it's not so great when it comes to humans. Can you tell what <i>#8FC0E3</i> will look like? <span id="hint">(Hint)</span> I can't either, unless I have the computer show me first. The HSL color model provides a much more intuitive way to choose a color, where instead of red, green, and blue components you specify a color's hue, saturation, and luminance. However, standard HSL still has room for improvement. Switch the color bar to standard mode and look at the secondary colors (yellow, cyan, and magenta). Notice how jarring they are? At a given luminance, standard HSL gives different intensity levels to different hues. Switch back to helix HSL and you'll notice that's no longer a problem. The helical spectrum is not only prettier and more harmonious, but because of its guarantee of constant intensity it's also a better fit for graphic design and data visualization!
						%p This project was inspired by <a href="https://www.mrao.cam.ac.uk/~dag/CUBEHELIX/" target="_blank">Dave Green's Cubehelix color scheme</a>.
					/ %ul(class="slidenav")
					/ 	%li
					/ 	%li
					/ 	%li
				%script(src="js/slide.js" type="text/javascript" defer)
			%section(id="contact")
				-# TODO
				%h1 Get In Touch
				%h2 Email:
				%p eddiew@stanford.edu
				-# %h2 LinkedIn: 
		%script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript")
		%script(src="js/body.js" type="text/javascript")