#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

# Index compilation
compile '/' do
  filter :erb
end

# Everything else complation
compile '*' do
  filter :erb if @config[:text_extensions].include? item[:extension]
  case item[:extension]
    when 'scss'
      filter :sass, :syntax => :scss
      filter :rainpress # unless @config[:debug]
    when 'js'
    # filter :jslint if @config[:debug]
      filter :uglify_js unless @config[:debug]
    when 'html'
  end
end

# Index routing is special for some reason
route '/' do
  '/index.html'
end

# Everything else routing
route '*' do
  if item[:extension] == 'scss'
    # Force Nanoc to use .css intead of .scss
    item.identifier.chop + '.css'
  else
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  end
end